/* normalization */
*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
p {
    margin: 0;
}

/* template-music.tsx */
#playlists::-webkit-scrollbar-track,
#songList::-webkit-scrollbar-track {
  background: transparent;
}
#playlists::-webkit-scrollbar, 
#songList::-webkit-scrollbar {
  height: 0px;
  width: 0px;
}
#playlists::-webkit-scrollbar-thumb, 
#songList::-webkit-scrollbar-thumb {
  background: transparent;
}

/* card Announcements */

.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }


.bg-image {
    position: relative;
}

.custom-shape-divider-bottom-1687252303 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1687252303 svg {
    position: relative;
    display: block;
    width: calc(210% + 1.3px);
    height: 472px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1687252303 .shape-fill {
    fill: #CA8A04;
}

/* scroll bar with menu  */

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(0%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-slide-down {
    animation-name: slideDown;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}

/* popup Msg Closing Animation */
@keyframes leftOut {
    0% {
        transform: translateX(0%)
    }
    100% {
        transform: translateX(-120%)
    }
}

.animate-left-out {
    animation: leftOut;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1);
}

/* RESPONSIVE DESIGN */
:root {
    --clr-primary-200: #f3eed9;
    --clr-primary-400: #824936;

    --clr-neutral-100: #FFF;
    --clr-neutral-900: #222C2A;

    --ff-primary: 'Roboto', sans-serif;
    --ff-accent: 'Playfair Display', serif;
}

#bodyDivRD {
    font-family: var(--ff-primary);
    font-weight: 400;
    font-size: 1.3125rem;
    line-height: 1.6;
}

div#bodyDivRD section {
    padding: 3rem 0;
}

@media (min-width: 30em) {
    div#bodyDivRD section {
        padding: 7rem 0;
    }
}

.containerRD {
    margin-inline: auto;
    width: min(90%, 70.5rem)
}

.split {
    display: flex;
    flex-direction: column;
}

@media (min-width: 30em) {
    .split {
        flex-direction: row;
    }

    .split > * {
        flex-basis: 100%;
    }

    .split > * + * {
        margin-left: 2em;
    }
}

.container--narrow {
    max-width: 25rem;
}

.imgNext {
    max-width: 100%;
    display: block;
}

.h1Responsive,
.h2Responsive,
.h3Responsive {
    font-family: var(--ff-accent);
    font-weight: 900;
    line-height: 1;
    font-size: 2rem;
    color: var(--clr-primary-400);
}

.h2Responsive,
p {
    margin-bottom: 1em;
}

#bg-light { 
    background-color: var(--clr-primary-200);
} 
#bg-primary { 
    color: var(--clr-neutral-100);
    background-color: var(--clr-primary-400);
}
#bg-dark { 
    color: var(--clr-neutral-100);
    background-color: var(--clr-neutral-900);
}

#bg-primary .h2Responsive,
#bg-dark .h2Responsive {
    color: var(--clr-primary-200);
}

    
/* Testimonials */

.testimonial-text {
    --line-height: 1.4;

    line-height: var(--line-height);
    font-size: clamp(1rem, 2.5vw, 2rem)
}

.testimonial-text-header {
    font-size: clamp(1.5rem, 3vw, 2.5rem);    
}
.testimonialDiv {
    /* border: 1px solid transparent; */
    outline: transparent;
    outline-offset: 10px;
    box-shadow: 10px 10px 0 -3px rgb(248 250 252), black 10px 10px;
    /* box-shadow: rgb(255, 255, 255) 10px 10px 0px -3px, black 10px 10px; */
}

@media (min-width: 30em) {
    .containerTestimonial {
        display: flex;
        flex-direction: row;
        max-height: fit-content;
    }
}

/* WEBSITE SPONSORSHIP */
:root {
    --p-text-clamp: clamp(0.7rem, 1.7vw, 1.2rem);
    --h1-text-clamp: clamp(1rem, 2.5vw, 2rem);
}
/* 
.sponsorshipContainer h1 {
    font-size: var(--h1-text-clamp);
}
.sponsorshipContainer p {
    font-size: var(--p-text-clamp);
} */
.testingSponsorship {
    height: clamp(5rem, 50vw, 25rem);
}

@media (min-width: 33em) {
    .testingSponsorship {
        display: flex;
        flex-direction: row;
        max-height: fit-content;
    }
    .sponsorshipCard {
        margin: 10px;
        
    }

}
.sponsorshipContainer::-webkit-scrollbar-track {
  background: transparent;
}
.sponsorshipContainer::-webkit-scrollbar {
  height: 0px;
  width: 0px;
}
.sponsorshipContainer::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Keyboard */
:root {
    --kb-padding-x: clamp(0.45em, 2.8vw, 4em);
    --kb-padding-y: clamp(1vh, 1.5vh, 2.5vh);
    --kb-margin-x: clamp(0.12em, 0.8vw, 1em);
    --kb-margin-y: clamp(0.4em, 1.8vh, 1.5em);
    --kb-fontsize: clamp(2rem, 2vw, 3rem);
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
}

#kbButton {
    padding-left: var(--kb-padding-x);
    padding-right: var(--kb-padding-x);
    padding-top: var(--kb-padding-y);
    padding-bottom: var(--kb-padding-y);
    margin-left: var(--kb-margin-x);
    margin-right: var(--kb-margin-x);
    margin-top: var(--kb-margin-y);
    margin-bottom: var(--kb-margin-y);
    font-size: var(--h1-text-clamp);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

#kbContainer {
    max-height: clamp(30vh, 62vh, 65vh)
}