
/* template-music.tsx */
#playlists::-webkit-scrollbar-track,
#songList::-webkit-scrollbar-track {
  background: transparent;
}
#playlists::-webkit-scrollbar, 
#songList::-webkit-scrollbar {
  height: 0px;
  width: 0px;
}
#playlists::-webkit-scrollbar-thumb, 
#songList::-webkit-scrollbar-thumb {
  background: transparent;
}

/* card Announcements */

.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }


.bg-image {
    position: relative;
}

.custom-shape-divider-bottom-1687252303 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1687252303 svg {
    position: relative;
    display: block;
    width: calc(210% + 1.3px);
    height: 472px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1687252303 .shape-fill {
    fill: #CA8A04;
}

/* scroll bar with menu  */

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(0%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-slide-down {
    animation-name: slideDown;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}